:root {
  --background-color-main: #ffffff;
  --active-color: #2196f3;
  --font-color: #212121;
  --font-color-logo: #2196f3;
  --font-color-logo-header: #000000;
  --font-color-logo-footer: #ffffff;
  --font-color-dark-background: #ffffff;
  --font-color-footer: #ffffff;
  --font-color-footer-with-alpha: #ffffff99;
  --font-color-contact-header: #757575;
  --font-color-paragraph: #757575;
  --background-color-section: #2f303a;
  --background-color-border: #eeeeee;
  --background-color-team: #f5f4fa;
  --background-color-btn-unactive: #f5f4fa;
}

h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
  padding: 0;
}
/* SEKCJA POZYCJONOWANIA STRONY */
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
body {
  font-family: 'Roboto', sans-serif;
  color: var(--font-color);
  width: 1600px;
}
.header {
  border-bottom: 1px solid #ececec;
}

.head-section {
  display: flex;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  text-decoration: none;
  font-weight: 700;
  color: var(--font-color-logo);
}
.logo-header {
  padding-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo-header-color {
  color: var(--font-color-logo-header);
}

.logo-footer-color {
  color: var(--font-color-logo-footer);
}

.nav-header,
.contact-header {
  padding-top: 32px;
  padding-bottom: 32px;
}

.navigation {
  list-style: none;
  display: flex;
  gap: 46px;
  padding-right: 371px;
}

.navigation-link {
  text-decoration: none;
  color: var(--font-color);
  font-weight: 500;
  font-size: 15px;
}
.navigation-link:hover,
.navigation-link:focus {
  color: var(--active-color);
}

.contact-header {
  display: flex;
  gap: 50px;
}
.contact-header-item {
  text-decoration: none;
  color: var(--font-color-contact-header);
  font-weight: 500;
  font-size: 14px;
}

.contact-header-item:hover,
.contact-header-item:focus {
  color: var(--active-color);
}

.footer {
  background-color: var(--background-color-section);
  padding-top: 60px;
}

.logo-footer {
  display: block;
  padding-bottom: 20px;
}

.contact-footer {
  display: flex;
  flex-direction: column;
  line-height: 1.7;
  padding-bottom: 60px;
}

.contact-footer-address {
  text-decoration: none;
  font-style: normal;
  color: var(--font-color-footer);
}

.contact-footer-link {
  color: var(--font-color-footer-with-alpha);
  text-decoration: none;
  font-style: normal;
}

.contact-footer-link:hover,
.contact-footer-link:focus {
  color: var(--active-color);
}

/* HEADER I FOOTER ZAKONCZONE */
/* STRONA INDEX */
/* SEKCJA HERO */
.hero {
  background-color: var(--background-color-section);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 200px 0;
}

.title-side {
  text-align: center;
  max-width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  color: var(--font-color-dark-background);
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.btn-order {
  padding: 10px 41px;
  border-radius: 4px;
  border: 1px solid var(--active-color);
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  color: var(--font-color-dark-background);
  /* button ma domyslne color: #000000 */
  background-color: var(--active-color);
}

/* SEKCJA TEKSTOWA */
.text-part-list {
  list-style: none;
  display: flex;
  gap: 30px;
}

.text-part-list-item h3 {
  font-weight: 700;
  font-size: 14px;
}

.text-part-list-item p {
  line-height: 24px;
  color: var(--font-color-paragraph);
}

/* SEKCJA CZYM SIE ZAJMUJEMY */
.what-do-header,
.team-header {
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
}

.what-do-list {
  display: flex;
  gap: 30px;
  list-style: none;
}

/* SEKCJA TEAM */
.team {
  background-color: var(--background-color-team);
}

.team-list {
  list-style: none;
  display: flex;
  gap: 30px;
}

.team-description {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
border: 1px solid var(--background-color-border);
background-color: var(--background-color-main);
}


.team-name,
.team-profession {
  display: flex;
  justify-content: center;
  text-align: center;
  /* jeszcze nie dziala */
  font-size: 16px;
}

.team-name {
  font-weight: 700;
  margin-bottom: 10px;
}

.team-profession {
  color: var(--font-color-paragraph);
}

/* @@@@@@@@@@STRONA PORTFOLIO@@@@@@@@@@@@ */
/* przyciski do filtrowania */
.filter-list {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.btn-filter {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  background-color: var(--background-color-btn-unactive);
  color: var(--font-color);
  border: 1px solid var(--background-color-btn-unactive);
  border-radius: 4px;
  padding: 6px 22px;
  /* bo domyslnie ma color:#ffffff */
}

.btn-filter:hover,
.btn-filter:focus {
  background-color: var(--active-color);
  color: var(--font-color-dark-background);
  border: 1px solid var(--active-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* galeria */
.gallery-list {
  list-style: none;
}

.gallery-item-name {
  font-weight: 700;
  font-size: 18px;
}

.category {
  font-size: 16px;
  color: var(--font-color-paragraph);
}
/* KONIEC PORTFOLIO */
